body {
    margin: 0;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 170, 240);
}

header h1, header h2 {
    color: white;
}

header h1 {
    display: inline-block;
    margin: 30px 10px 30px 124px;
}

a {
    text-decoration: none;
}

nav {
    display: inline;
    margin-right: 30px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: white;
}

main {
    width: 80%;
    margin: auto;
}

main ul li {
    margin: 0 10px 10px 0;
    padding: 2rem;
}
footer {
    padding: 3rem;
}

/* Tik Tac Toe */
.divBoard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}
.divBoard > div {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border: 1px solid;
    font-size: 5em;
    text-align: center;
}
.divBoard > div:nth-child(3n) {
    border-right: 0;
    border-left: 0;
}
.divBoard > div:nth-child(n + 7) {
    border-bottom: 0;
    border-top: 0;
} 